.title {
    height: 210px;
    margin-top: 15px;
    &_fz38 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 60px;
        color: rgb(36, 35, 35);
        letter-spacing: 2px;
    }
}

